<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.s4.mapper.AccountPMapper">
	<insert id="insertMember" parameterType="AccountPDto">
		insert into p_member (p_id, p_pw, p_name, p_nickname, p_email, p_phone)
		values (#{p_id}, #{p_pw}, #{p_name}, #{p_nickname}, #{p_email}, #{p_phone})
	</insert>
</mapper>